{% load static%}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Yoga Studio Template">
        <meta name="keywords" content="Yoga, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Violet | Template</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'cart/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/nice-select.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cart/css/style.css' %}" type="text/css">
        <style>
            .checkoutform label{
                font-size: 14px !important;
                font-weight: 600;
            }
            .checkoutform input{
                font-size: 14px !important;
                
            }
        </style>
    
    
    </head>

    <body>
        <!-- Page Preloder -->
        
        
        <!-- Search model -->
        <header class="header-section">
            <div class="container-fluid">
                <div class="inner-header">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img src="{% static 'cart/img/logo.png'%}" alt=""></a>
                    </div>
                    <div class="header-right">
                        <a style="color:black;"href="{% url 'wishlist' %}">
                            <i class="fa fa-heart"></i>  
                        </a>
                        <a href="{% url 'user_profile'%}">
                            <img src="{% static 'cart/img/icons/man.png'%}" alt="">
                        </a>    
                        <a href="{% url 'cart' %}">
                            <img src="{% static 'cart/img/icons/bag.png'%}" alt="">
                            
                        </a>
                    </div>
                    <div class="user-access">
                        {%if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {%else%}
                            <a href="{% url 'register' %}">Register</a>
                            <a href="{% url 'loginn' %}" class="in">Sign in</a>
                        {%endif%}
                    </div>
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a  href="{% url 'index'%}">Home</a></li>
                            <li><a href="{%url 'shop'%}">Shop</a></li>
                            <li><a class="active" href="{% url 'myorders' %}">Orders</a></li>
                            <li><a href="{% url 'index'%}">Blog</a></li>
                            <li><a href="{% url 'index'%}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <section class="page-add cart-page-add">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="page-breadcrumb">
                            <h2>Orders<span>.</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {%endif%}
              
        <div class="container my-3">
            <div class = "row">
                <div class = "col-md-12">
                    <div class ="card shadow">
                        <div class ="card-body">
                            <table class ="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Order Date</th>
                                        <th>Tracking Number</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in orders %}
                                
                                    <tr>
                                        <td>{{item.created_at}}</td>
                                        <td>{{item.tracking_no}}</td>
                                        <td>Rs.{{item.total_price}}</td>
                                        <td>
                                            {%if item.status == 'Delivered' %}
                                              <form method="POST" action="{% url 'order_return' item.id %}">
                                              {% csrf_token %}
                                              <button type="button" class="tracking-button btn-sm  btn btn-outline-secondary" data-toggle="modal" data-target="#returnModal">Return Order</button>
                                            </form>
                                           {%else%}
                                            <form method="post" action="{% url 'ordercancel' item.id %}">
                                            {% csrf_token %}
                                            {% if item.status != "Return" %}
                                                <button type="submit" class="tracking-button btn-sm btn btn-dark">Cancel Order</button>  
                                            {% endif %}
                                            </form>
                                            {%endif%}
                                        </td>
                                        <td>{{item.status}}</td>
                                        <td>
                                            <a href="{% url 'orderview' item.tracking_no %}" class="btn btn-light">View</a></td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- The modal order return -->
{%for item in orders%}
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="returnModalLabel">Return Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add your form fields for return issue and image upload here -->
          <form method="POST" action="{% url 'order_return' item.id %}">
            {% csrf_token %}
            <!-- Add your form fields here -->
            <div class="form-group">
              <label for="comment">Return Issue</label>
              <textarea class="form-control" id="comment" name=" comment" rows="4" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-secondary">Submit Return</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}

  <footer class="footer-section spad">
    <div class="container">
        
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <img style="width:80%;" src="{% static 'cart/img/logo.png'%}">
                        <ul>
                            
                            <li>Unleash your inner fashionista, browse and buy.</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>HELP</h4>
                        <ul>
                            <li>Contact Us</li>
                            <li>Payment methods</li>
                            <li>Delivery</li>
                            <li>Returns and Exchanges</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>ABOUT</h4>
                        <ul>
                            <li>About Violet</li>
                            <li>Careers</li>
                            <li>Privacy Commitment</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>CONTACT US</h4>
                        <ul>
                            <li>email : violet.store.she@gmail.com</li>
                            <li>phno. : 91-91XXXXXXXX</li>
                            <li>phno. : 91-62XXXXXXXX</li>
                            
                        </ul>

                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
        

        <div class="container text-center pt-5">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>


   
</footer>
        <script src="{% static 'cart/js/jquery-3.3.1.min.js'%}"></script>
        <script src="{% static 'cart/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'cart/js/jquery.magnific-popup.min.js'%}"></script>
        <script src="{% static 'cart/js/jquery.slicknav.js'%}"></script>
        <script src="{% static 'cart/js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'cart/js/jquery.nice-select.min.js'%}"></script>
        <script src="{% static 'cart/js/mixitup.min.js'%}"></script>
        <script src="{% static 'cart/js/main.js'%}"></script>

        
    </body>

</html>