{%load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}" type="text/css">
    <style>
        .h{
            font-size:100px;
            margin-bottom : 20%;
            color:white;
        }
        .p{
            color:white;
            font-size:20px;
        }
        .single-box-item{
            float:right;
        }
    </style>
</head>

<body> 
    <!-- Page Preloder -->
    
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'app/img/logo.png'%}" alt=""></a>
                </div>
                <div class="header-right">
                    <a style="color:black;"href="{% url 'wishlist' %}">
                        <i class="fa fa-heart"></i>  
                    </a>
                    <a href="{% url 'user_profile'%}">
                        <img src="{% static 'app/img/icons/man.png'%}" alt="">
                    </a>    
                    <a href="{% url 'cart' %}">
                        <img src="{% static 'app/img/icons/bag.png'%}" alt="">
                        
                    </a>
                </div>
                <div class="user-access">
                    {%if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {%else%}
                        <a href="{% url 'register' %}">Register</a>
                        <a href="{% url 'loginn' %}" class="in">Sign in</a>
                    {%endif%}
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="{% url 'index'%}">Home</a></li>
                        <li><a href="{%url 'shop'%}">Shop</a></li>
                        <li><a href="{% url 'myorders' %}">Orders</a></li>
                        <li><a href="{% url 'index'%}">Blog</a></li>
                        <li><a href="{% url 'index'%}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Hero Slider Begin -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'app/img/slider-1.jpg' %}" alt="Slider Image">
              <div class="carousel-caption">
                <h5 class="h">Treat Yourselves...</h5>
                <p class="p">Checkout our new collections</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'app/img/slider-2.jpg' %}" alt="Slider Image">
              <div class="carousel-caption">
                <h5 class="h">Limited Deals</h5>
                <p class="p">Have a look ath the offers</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'app/img/slider-3.jpg' %}" alt="Slider Image">
              <div class="carousel-caption">
                <h5 class="h">Trendy Collections</h5>
                <p class="p">Shop now</p>
              </div>
            </div>
          </div>
          
    <!-- Hero Slider End -->

    <!-- Features Section Begin -->
    <section class="features-section spad">
        <!-- Features Box -->
        <div class="features-box">
            <div class="container">
                <div class="row">
                    {% for i in banner%}
                    <div class="col-lg-6">
                        <div class="row">
                            {% if forloop.first %}
                            <div class="col-lg-12">
                                <div class="single-box-item first-box">
                                    <img src="{{i.image.url}}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">Party</span>
                                        <h2>{{i.title}}</h2>
                                        <span class="trend-alert" style="color:white">{{i.description}}</span>
                                        <a href="#" class="primary-btn" style="color:white">See More</a>
                                    </div>   
                                </div>
                            {%endif%}
                            </div>
                            
                            <div class="col-lg-12">
                                {% if forloop.counter == 2 %}
                                <div class="single-box-item second-box">
                                    <img src="{{i.image.url}}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2023 Trend</span>
                                        <h2>{{i.title}}</h2>
                                        <span class="trend-alert">{{i.description}}</span>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
                            
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="features-box">
            <div class="container">
                <div class="row">
                    <section>
                        <div class="features-box">
                            <div class="container">
                                <div class="row">
                                    {% for i in banner %}
                                        {% if forloop.counter > 2 %}
                                            <div class="col-lg-12">
                                                <div class="single-box-item large-box full-screen-banner">
                                                    <div class="box-text">
                                                        <span class="trend-year">Offer Alert</span>
                                                        <h2>{{ i.title }}</h2>
                                                        <span class="trend-alert" style="color:white">{{ i.description }}</span>
                                                        
                                                    </div> 
                                                    <img src="{{ i.image.url }}" alt="" style="width: 100%;">
                                                    
                                                </div>
                                            </div>
                                            
                                        {% endif %}
                                        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>
    </section>

    
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Designs</h2>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="row" id="product-list">
                {% for item in products %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="{% url 'productview' item.category.slug item.slug %}"><img src="{{ item.product_image.url }}" alt=""></a>
                        </figure>
                        <div class="product-text">
                            <h6>{{ item.product_name }}</h6>
                            
                                    {% if item.offer %}
                                        <span class="float-end aa">{{item.offer.offer_name}}</span>
                                        <del class="text-danger ">Rs.{{item.selling_price | stringformat:'d'}}</del>&nbsp;
                                        
                                        <span class="float-end aa"><b>Rs.{{item.get_offer}}</b></span>
                                    {% else %}
                                        <span class="float-end aa"><b>Rs.{{item.selling_price | stringformat:'d'}}</b></span>
                                    {% endif %}
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '</div><div class="row">' %}
                {% endfor %}
            </div>
            
        </div>
    </section>
    <!-- Latest Product End -->

    <!-- Lookbok Section Begin -->
    
    <!-- Lookbok Section End -->

    <!-- Logo Section Begin -->
   
    <!-- Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <img style="width:80%;" src="{% static 'app/img/logo.png'%}">
                            <ul>
                                
                                <li>Unleash your inner fashionista, browse and buy.</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>HELP</h4>
                            <ul>
                                <li>Contact Us</li>
                                <li>Payment methods</li>
                                <li>Delivery</li>
                                <li>Returns and Exchanges</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>ABOUT</h4>
                            <ul>
                                <li>About Violet</li>
                                <li>Careers</li>
                                <li>Privacy Commitment</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>CONTACT US</h4>
                            <ul>
                                <li>email : violet.store.she@gmail.com</li>
                                <li>phno. : 91-91XXXXXXXX</li>
                                <li>phno. : 91-62XXXXXXXX</li>
                                
                            </ul>

                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
            

            <div class="container text-center pt-5">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>


       
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'app/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'app/js/mixitup.min.js'%}"></script>
    <script src="{% static 'app/js/main.js'%}"></script>
</body>

</html>