{% extends "base.html" %}
{% block content %}



<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-8 col-sm-6 mx-auto">
        <div class="card shadow card-body">
            <h4 class="text-center">Login</h4>
            <form method="post">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                {%endif%}

                <br>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="text" placeholder="Username" class="form-control" name="username" id="typeUserX">
                    </div>
                </div>
               
                <br>
                <div class="row">
                    <div class="form-group col-12">
                        <input type="password" placeholder="Password" class="form-control" name="pass" id="typePasswordX">
                    </div>
                </div>
                <br>
                
                <p>Don't have account? <a class="linkcolor"href="{% url 'register' %}">Register</a></p><p style="float:right;"><a class="linkcolor"href="{% url 'forgotpassword' %}"> Forgot password? </a></p>
                <button type="submit"class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>

</div>


{% endblock %}